.answer {

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		@include media('<md') {
			flex-wrap: wrap;
		}
	}

	&__item {
		width: calc((100% - 60px) / 4);

		@include media('<lg') {
			width: calc((100% - 40px) / 4);
		}

		@include media('<md') {
			width: calc((100% - 12px) / 2);
			margin-bottom: 12px;
		}

		&--triple {
			width: calc((100% - 40px) / 3);

			@include media('<lg') {
				width: calc((100% - 30px) / 3);
			}

			@include media('<md') {
				width: 100%;
				margin-bottom: 12px;
			}
		}
	}

	&__gfx {
		img {
			width: 100%;
			display: block;
		}
	}

	&__box {
		min-height: 48px;
		background-color: $color--gray;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 10px 12px;
	}

	&__info {
		display: inline-block;
		width: 16px;
		height: 16px;
		background-color: $color--purple;
		border-radius: 16px;
		position: relative;
		vertical-align: middle;
		left: 2px;

		@include media('<md') {
			top: -2px;
		}

		&::after {
			content: 'i';
			position: absolute;
			display: block;
			line-height: 16px;
			font-size: 13px;
			color: #ffffff;
			top: 0;
			left: 5px;
			font-weight: 700;
		}
	}

	&__check {
		visibility: hidden;
		position: absolute;
		left: -9999px;
	}

	&__check + label {
		position: relative;
		cursor: pointer;
		padding-left: 24px;

		@include media('<md') {
			font-size: 14px;
		}
	}

	&__check + label::before {
		position: absolute;
		display: block;
		content: '';
		width: 18px;
		height: 18px;
		left: 0;
		top: calc(50% - 9px);
		border-radius: 6px;
		background-color: #fff;
		border: 1px solid $color--gray-darker;
	}

	&__check:checked + label::after {
		font-family: "Font Awesome 5 Free";
		font-weight: 700;
		font-size: 12px;
		color: $color--purple;
		content: '\f00c';
		position: absolute;
		top: calc(50% - 6px);
		left: 3px;
		display: block;
	}
}