.product {
	border: 1px solid $color--gray;
	margin-bottom: 15px;
	display: flex;
	padding: 15px;
	justify-content: space-between;
	align-items: flex-start;

	@include media('<md') {
		justify-content: center;
		flex-wrap: wrap;
	}

	&__gfx {
		width: 41%;
		flex: 0 0 41%;
		margin-right: 4%;

		@include media('<lg') {
			width: 38%;
			flex: 0 0 38%;
			margin-right: 2%;
		}

		@include media('<md') {
			width: 100%;
			flex: 0 0 100%;
			margin-right: 0;
			margin-bottom: 10px;
		}

		img {
			max-width: 100%;
			display: block;
		}
	}

	&__details {
		width: 32%;
		flex: 0 0 32%;
		margin-right: 2%;

		@include media('<md') {
			width: 100%;
			flex: 0 0 100%;
			margin-right: 0;
			margin-bottom: 10px;
		}
	}

	&__name {
		text-transform: uppercase;
		font-size: 18px;
		padding-bottom: 16px;
		border-bottom: 1px solid $color--gray;
		margin-bottom: 16px;
	}

	&__utils {
		width: 21%;
		flex: 0 0 21%;
		text-align: center;

		@include media('<lg') {
			width: 26%;
			flex: 0 0 26%;
		}

		@include media('<md') {
			width: 100%;
			flex: 0 0 100%;
		}
	}

	&__price-box {
		border: 1px solid $color--gray;
		border-radius: 4px;
		padding: 8px 0;
		margin-bottom: 10px;
	}

	&__price-label {
		display: block;
		font-size: 12px;
		font-weight: 700;
		margin-bottom: 6px;
	}

	&__price {
		display: block;
		color: $color--purple;
		font-weight: 700;
		font-size: 20px;
	}

	&__attr {
		font-size: 14px;
		position: relative;
		margin-bottom: 2px;

		&::before {
			display: inline-block;
			position: relative;
			content: '';
			vertical-align: middle;
			width: 14px;
			height: 15px;
			background: url('../img/tick-none.png');
			top: -1px;
			margin-right: 5px;
		}

		&--enabled::before {
			background: url('../img/tick-green.png');
		}
	}

	&__show-more {
		text-decoration: none;
		font-weight: 700;
		font-size: 14px;
		color: $color--text;

		i {
			font-size: 18px;
			color: $color--purple;
			vertical-align: middle;
		}
	}
}